@import url('https://fonts.googleapis.com/css?family=Raleway:regular,bold,italic&subset=latin,latin-ext');

body {
    font-family: 'Raleway', sans-serif;
    background-color: brown;
    font-style: italic;
    color: white;
    font-size: 1.2em;
    line-height: 2;
    width: 80%;
    text-align: justify;
    margin: auto;

}

h1 {
    text-align: center;

}

